.box {
    width: 450px;
    margin: 40px auto;
    background-color: #ff9df78c;
    border-radius: 50px;
    text-align: center;
    padding: 30px;
    padding-bottom: 40px;
  }
  
  
  .btn {
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    background-color: #bf62fd;
    font-size: 30px;
    margin: 20px;
    padding: 10px 15px;
    cursor: pointer;
  }
  
  
  .btn:active {
    background-color: #a458c2;
  }

